*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ListContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.ListWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;    
}
.ListSearch{
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}
.ListResult{
    flex: 3;
}
.ListSearchTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}
.ListSearchItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.ListSearchItem label{
    font-size: 12px;
}
.ListSearchItem input{
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    outline: none;
}
.ListSearchItem .dates{
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}
.date{
    position: absolute;
    top: 40px;
}
.listSearchOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
    gap: 5px;
}
.listsearchOptionInput{
    width: 50px;
}
.ListSearch button{
    padding: 10px;
    color: #fff;
    background-color: #0071c2;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}