*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.footer{
    width: 100%;
    max-width: 1024px;
    font-size: 12px;
}
.fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.flist{
    padding: 0;
}
.fListItem{
    margin-bottom: 20px;
    color: #003580;
    
}